.ec-inline-block{display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;}
/*.ec-tab-title{width:5000px}*/

.ec-table-title-wrapper{left:0;top:0}
.ec-tab-title-item,.ec-tab-title-item span{background:url("img/tab-bg.gif") no-repeat right 0;}
.ec-tab-title-item{cursor:pointer;margin:0 2px;padding-left:3px; background-position:left 0;}
.ec-tab-title-item span{font-size:14px;padding:5px 10px;-moz-user-select:none;}
.ec-tab-title-item-selected{color:#FFF;background-position:left -38px;}
.ec-tab-title-item-selected span{color:#326601;font-weight:bold;background-position:right -38px;}
/*.ec-tab-content{border:1px solid blue;padding:10px;}*/
.ec-tab-title-scroll{width:20px;height:28px;background:url("img/arow-bgs.gif") no-repeat;z-index:1;bottom:0;cursor:pointer;}
.ec-tab-title-prev{left:0;}
.ec-tab-title-next{right:0;background-position:0 -30px}
