#set($fListTypeMap = {
    "single": "radio",
    "multiple": "checkbox"
})

#if ($resultList.size() > 0)
    #foreach ($q in $resultList)
    <dt>${q.code}. $q.text</dt>
    <dd>
        #if ($q.type == "open")
            <div class="q-tips">$q.tips</div>
        #else($q.type == "single" || $q.type == "multiple")
            #list(
                $q.answerName 
                $q.answerList 
                $fListTypeMap.get($q.type)
                "data-depth='$q.code'"
            )
        #end
    </dd>
    #end
#end
