<dl id="foo" ecui="foldable:dt">
    <dt>标题<span>-</span></dt>
    <dd>
    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</br>
    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</br>
    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</br>
    </dd>
</dl>

<div id="depRadio" ecui="sem:multi-dep">
    #foreach ($i in [1..5])
    <label for="rd-$i">
        选项$i
        <input id="rd-$i" type="radio" name="some_name" value="v-$i"  data-dep="dep_$i"/>
    </label>
    #end
    
    #foreach ($j in [1..5]) 
        #set($fooList = [
            {'text': "$j子选项1", "value": "v-sub-$j-1"},
            {'text': "$j子选项2", "value": "v-sub-$j-2"},
            {'text': "$j子选项3", "value": "v-sub-$j-3"}
        ])
        <div id="dep_$j" style="display:none">
            #list('cb-$j' $fooList '' 'checkbox')
        </div>    
    #end
</div>
<script type="text/javascript" charset="utf-8">
    // 折叠
    ecui.$register('foldable', function (el, param) {
        var title = el.getElementsByTagName(param)[0];
        if (title) {
            baidu.event.on(title, 'click', function () {
                var content = baidu.dom.next(this),
                    indicator = baidu.dom.last(title);
                    isShow = content.offsetWidth;        
                ecui.dom.setText(indicator, isShow ? '+' : '-'); 
                baidu.dom[isShow ? 'hide' : 'show'](content);
            });
        }
    });
    // 依赖radio
    ecui.$register('radiodep', function (el, params) {
        baidu.event.on(el, 'click', function (event) {
            var target = baidu.event.getTarget(event),
                oldEl = el._eOldEl;
            if (target.tagName == 'INPUT' && target.type == "radio") {
                // target表示依赖的元素
                target = baidu.dom.g(target.getAttribute("data-dep"));
                if (target && oldEl != target) {
                    baidu.dom.show(target);
                    oldEl && baidu.dom.hide(oldEl);
                    el._eOldEl = target;
                }
            }
        });
    });
</script>
