#set($lstTitles = [
    {"chn":"编号", "eval":"$item.id", "width":"100px"},
    {"chn":"模型名称", "eval":"<input type='text' name='modalName' value='$item.modalName' data-submit='true'/>", "width":"100px"},
    {"chn":"模型描述", "eval":"<input type='text' name='modalDesc' value='$item.modalDesc' data-submit='true'/>", "width":"100px"},
    {"chn":"背景问题限制", "eval":'#list("select" $cbList "" "select" "data-submit=true")', "width":"100px"},
    {"chn":"客户现状数", "eval":'#list("radio" $cbList "" "radio" "data-submit=true")', "width":"100px"},
    {"chn":"背景问题数", "eval":"", "width":"100px"},
    {"chn":"痛点数", "eval":"", "width":"100px"},
    {"chn":"方案数", "eval":"", "width":"100px"},
    {"chn":"是否生效", "eval":"<input type='checkbox' data-submit='true' name='available'/>", "width":"100px"},
    {"chn":"操作", "eval":"<input type='button' value='更新' class='edit-btn' data-form='updateForm'/>", "width":"100px"}
])
<form action="http://www.baidu.com/" method="post" id="updateForm" style="display:none">
    <div class="data-area">
    </div>
</form>
<div ecui="sem:table-edit">
#liteTable($lstTitles $tbList)
</div>
