#foreach($i in [1..5])
<div><a href="#" ecui="sem:tool-tip" data-tooltip="ttcontent$velocityCount">xxxxxxxxxxxxxxxxxxxxxxxxx $velocityCount</a></div>
<div style="display:none" id="ttcontent$velocityCount">
    $velocityCount <br/>
    yyyyyyyyyyyyyyyyyyyyyyyyy<br/>
    yyyyyyyyyyyyyyyyyyyyyyyyy<br/>
    yyyyyyyyyyyyyyyyyyyyyyyyy<br/>
    yyyyyyyyyyyyyyyyyyyyyyyyy<br/>
</div>
#end
