html {_overflow-y: scroll;}
body {margin:0 auto;padding:0;border:0;font-size:12px;line-height:150%;text-align:left;font-family:Arial,'宋体',Verdana,sans-serif}
img {border:0}
p ,h5 ,form, ul, li {margin:0;list-style:none;}
a {color:#0100FE}

.nav {height:25px;background:url(img/global_bg.png) 0 -125px repeat-x;color:#366401}
.nav p {margin-left:16px;padding:3px 0 0 20px;background:url(img/icon.gif) no-repeat 0 -70px;}

h4 {height:19px;margin:0;padding:14px 18px 0 18px;font-size:16px;font-family:'黑体';color:#326602;font-weight:normal;}
h4 b {margin-right:9px}
h4 span{font:normal 12px/19px arial;}
.step {float:right;font-size:12px;font-family:Arial,'宋体';}
.step a {display:inline-block;width:21px;height:21px;margin:0 4px;background:url(img/btn.gif);vertical-align:middle}
.step a.pre {background-position:-81px -21px}
.step a.next {background-position:-81px 0}
.step a.to-list {width:69px;height:20px;margin-right:0;padding-top:1px;background-position:0 -24px;text-align:center;text-decoration:none;color:#346702}
.wrapper {min-width:750px;margin:10px 18px;}
.wrapper h4{padding-left:0;}
* html  .wrapper {width: expression((documentElement.clientWidth < 750) ? "750px" : "auto" );}

.area-w {height:1px;;margin:0 2px;background:#CCE9B9;overflow:hidden;}
.area-v {height:1px;margin:0 1px;border-left:1px solid #CCE9B9;border-right:1px solid #CCE9B9;background:#F3FBEC;overflow:hidden;}
.area {padding:6px 12px;border-left:1px solid #CCE9B9;border-right:1px solid #CCE9B9;background:#F3FBEC;zoom:1}
.area h5 {border-bottom:1px solid #fff;color:#356502;font-size:14px;}
.area h5 b {display:block;padding:2px 0 4px 0;border-bottom:1px solid #DFF4CD;}

.mess .area-w {background:#F6DFCD;}
.mess .area-v {border-left:1px solid #F6DFCD;border-right:1px solid #F6DFCD;background:#fff;}
.mess .area {border-left:1px solid #F6DFCD;border-right:1px solid #F6DFCD;background:#FEFBF6;}

.mess-query .area-w {background:#9CD167;}
.mess-query .area-v {border-left:1px solid #9CD167;border-right:1px solid #9CD167;background:#fff;}
.mess-query .area {padding:0 1px;border-left:1px solid #9CD167;border-right:1px solid #9CD167;background:#fff;}
.mess-query .area-inner {padding:6px 15px;background:#DCEFD1;zoom:1}

.tag-zone {padding-top:32px;position:relative;}
.tag-head {position:absolute;top:0;left:0;padding-left:4px;}
.tag-head-tag {float:left;height:34px;margin-right:4px;overflow:hidden;width:130px;}
.tag-head-tag .area-w {background:#d1d1d1}
.tag-head-tag .area-v  {border-color:#d1d1d1}
.tag-head-tag p {height:24px;padding:6px 0 0 0;border-left:1px solid #d1d1d1;border-right:1px solid #d1d1d1;background:#F3F3F3;font-size:14px;overflow:hidden;cursor:pointer;}
.tag-head-tag p {padding-left:30px;background-image:url(img/icon.gif);background-position:8px -115px;background-repeat:no-repeat;}
.tag-head .current p {height:25px;border-left:1px solid #CCE9B9;border-right:1px solid #CCE9B9;background-color:#F3FBEC;font-weight:bold;color:#326601;cursor:default}

.tag-head-tag p a{color:#4B4B4B;text-decoration:none;}
.current .area-w {background:#CCE9B9}
.current .area-v  {border-color:#CCE9B9}
.tag-cont {padding:15px;border-left:1px solid #CCE9B9;border-right:1px solid #CCE9B9;background:#F3FBEC;zoom:1}
.tag-v {height:1px;margin:0 1px;border-left:1px solid #CCE9B9;border-right:1px solid #CCE9B9;background:#F3FBEC;overflow:hidden;}
.num .tag-head-tag {width:170px}

.tag-tab {border-bottom:1px solid #CCE9B9;}
.tag-tab .tag-head .current p {height:24px;}
.tag-tab .tag-head-tag {width:100px;}
.tag-b p {background-position:8px -297px;}
.tag-c p {background-position:8px -324px;}

.query input ,.query select {margin-right:8px;font-size:12px;color:#7f7f7f;vertical-align:middle}
.query select {height:21px;padding-top:0}
input.time {height:15px;border:1px solid #7F9DB9;background:#fff url(img/icon.gif) no-repeat right -222px}

input.btn-g ,input.btn-r ,input.btn-g-l {width:81px;height:24px;margin-right:19px;padding-top:0;*padding-top:2px;border:0;background:url(img/btn.gif);font-size:14px;text-align:center;cursor:pointer;color:#336601}
input.btn-r {background-position:0 -45px;color:#895526}
input.btn-g-l {width:189px;background:url(img/btn2.png)}

h5.icon-a b ,h5.icon-b b ,h5.icon-c b ,h5.icon-d b ,h5.icon-e b{padding-left:20px;background:url(img/icon.gif) no-repeat 0 -145px;}
h5.icon-b b {background-position:0 -170px;}
h5.icon-c b {background-position:0 -195px;}
h5.icon-d b {background-position:0 -248px;}
h5.icon-e b {background-position:0 -273px;}

.mess .icon-warning {padding-left:30px;background-image:url(img/warning.gif);background-repeat:no-repeat;background-position:10px 8px;}

.layer {position:absolute;position:absolute;z-index:2000;left:10%;top:50px;}
.layer-head {cursor:move;}
.layer-head p {height:23px;padding:4px 10px 0 18px;border-right:1px solid #CBE9B7;border-left:1px solid #CBE9B7;background:url(img/global_bg.png) 0 -150px repeat-x;font-size:12px;color:#E2FEC4;font-weight:bold;}
.layer-head p b {float:right;display:block;width:19px;height:19px;background:url(img/btn.gif) -83px -49px;cursor:pointer;}
.layer-head .area-w {background:#B1D29D}
.layer-head .area-v {background:#5FA239;border-color:#B1D29D;}
.layer-cont {padding:9px 18px;border-right:1px solid #CBE9B7;border-left:1px solid #CBE9B7;background:#F3FBEC}

.list-page {margin-top:10px}
.list-page img{vertical-align:middle;margin:0 3px;}
.list-page a{zoom:1;margin:0 3px;}
.table-zone .list-page {padding-left:10px}

.clear {clear:both;height:0;width:0;overflow:hidden;}
.air {margin-top:10px}

.table-zone .area {padding:0 0 10px 0;}
/* 显示方式 */
.show-type {vertical-align:baseline;margin:10px 0}
.show-type input {margin-left:4px;}
/*....*/
.item span {padding:0 6px}
.item span a {margin:2px}
#dataListMenu {border-top:1px solid #A2C988;border-left:1px solid #A2C988;border-right:1px solid #A2C988}
#dataListMenu div {background:#D0EAC1;border-bottom:1px solid #A2C988;padding:4px 16px}
input.invalid,textarea.invalid {color:red;background:yellow}
.tip-r, .bright {color:red;}
.table {
	font-family:Arial,宋体;
	border-top:1px solid #CCE9B9;
	border-left:1px solid #CCE9B9;
	border-bottom:1px solid #CCE9B9;
	display:none;
    table-layout:fixed;
	border-collapse:collapse;
}
.table .sortup {
	background:url(img/sortup.gif) no-repeat 94% center;
}
.table .sortdown {
	background:url(img/sortdown.gif) no-repeat 94% center;
}
.table .menu {
	background:url(img/menu.gif) no-repeat center center;
}
.table .dark {
	background-color:#F2F8EE;
}
.table .light {
	background-color:#E0F6D0;
}
.table .title {
	font-weight:bold;
	font-size:14px;
	color:#326700;
	background-color:#DCEFD1;
	height:27px;
	line-height:27px;
	white-space:nowrap;
}
.table .checked {
	background-image:url('img/ch_3.gif');
	background-position:center center;
	background-repeat:no-repeat;
}
.table .nochecked {
	background-image:url('img/ch_1.gif');
	background-position:center center;
	background-repeat:no-repeat;
}
.table .partchecked {
	background-image:url('img/ch_2.gif');
	background-position:center center;
	background-repeat:no-repeat;
}
.table div {
	height:25px;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	border-right:1px solid #CCE9B9;
	text-align:center;
	font-size:12px;
	line-height:25px;
	background-color:#FFF;
}
.table td, .table th {
	height:25px;
	overflow:hidden;
	border-right:1px solid #CCE9B9;
	text-align:center;
	font-size:12px;
	line-height:25px;
	background-color:#FFF;
	word-break:break-all;
	word-wrap:break-word;
}
.table .link {
	color:#0101FF;
	text-decoration:underline;
	cursor:pointer;
}
/* 日历所需样式 */
#datePanel {width:154px;padding:2px;background:#fff;border:1px solid #95AAC9;position:absolute;top:-10000px}
.calendar-wrap,.calendar-wrap td {font-size:12px;}

.calendar-head {width:155px;height:23px;}
.calendar-title {width:67px;height:21px;line-height:20px;float:left;color:#41537b;text-align:center;background:url(img/calendar.gif) left bottom repeat-y;margin:0;}
.calendar-prev-year,.calendar-next-year,.calendar-prev-month,.calendar-next-month {cursor:pointer;width:21px;height:21px;float:left;}
.calendar-prev-year {background:url(img/calendar.gif) 0 0 no-repeat;}
.calendar-next-year {background:url(img/calendar.gif) -63px 0 no-repeat;}
.calendar-prev-month {background:url(img/calendar.gif) -21px 0 no-repeat;margin-left:2px;}
.calendar-next-month {background:url(img/calendar.gif) -42px 0 no-repeat;margin-right:2px;}

.calendar-body td {line-height:20px;text-align:center;width:22px;line-height:20px;}
.calendar-body thead td {background:#e2f6e0;font-weight:bold;}
.calendar-body tbody td {font-family:Arial;font-size:10px;cursor:pointer;}
.calendar-today {color:white;background:#7dba7a;}
.calendar-othermonth {color:#999;}

/* 弹出层 */
.mask-layer {background-color:#000;opacity:.35;filter:alpha(opacity=35);}
.body-masked select {visibility:hidden;}
.body-masked .layer select {visibility:visible}


/* 中间页 */
body.middlePage {background:#fff;text-align:center;}
body.middlePage .wrapper {margin:100px auto;width:500px;min-width:500px;font-size:14px;text-align:left;}
.mess div.icon-error {padding-left:30px;background-image:url(img/error.gif);background-repeat:no-repeat;background-position:10px 8px;zoom:1;}
.errorMessage{padding:10px 0;color:#f00;}

.strik-info{color:#0095cc}

/* 双选框 */
.dcms-container{zoom:1;overflow:hidden;width:100%;}
.dcms-container select{width:200px; float:left;}
.dcms-options{width:60px;float:left; margin:0; padding:40px 10px; text-align:center; overflow:hidden;}
.dcms-options p{margin:2px 0; padding:0;}

/*所参加活动样式*/
.actLabelArea {display:block;margin-top:5px;margin-bottom:5px;background:url(img/activity_icon.gif) no-repeat;padding-left:20px;color:#000}
.actLabelArea em {color:#F00;font-weight:bold;font-style:normal}

/*加款记录样式*/
table.recordTable {border:#93CC5C 1px solid; width:100%; border-collapse:collapse;}
tr.recordBody td {text-align:left; padding-left:10px; padding-bottom:5px; padding-top:5px; height:20px; border:#93CC5C 1px solid;}
tr.recordHeader td {color:#326700;background-color:#D8EDCC;text-align:center;font-weight:bold; border:#93CC5C 1px solid;}

/*营业厅订单高亮*/
span.vip{padding-right:16px; color:red; background:url(img/vip.png) top right no-repeat;}