/*  整体控制 */
.ec-calendar {width:216px;text-align:center;}


/* 单日历 */
.ec-single-calendar{width:211px}
.date-content-sel{width:191px;height:25px;padding:0 0 10px 20px;background:#ddd}

/* 双日历 */
.calendar-double-content{background:#FFF;padding:5px;border:1px #dcdcdc solid;width:439px;height:245px;padding-left:10px;*height:250px;z-index:32769}
.time-begin,.time-end{width:216px;display:inline-block;*display:inline;*zoom:1;}
.time-end{*margin-left:5px}
.time-reset{cursor:pointer;width:14px;height:14px;background:url(img/calendar-bgs.gif) no-repeat -400px -3px;margin:0 0 0px 5px;*margin-bottom:10px}
.calendar-error{color:red;display:none;}
.ec-range-calendar-begin-error .begin{display:inline;}
.ec-range-calendar-end-error .end{display:inline;}


.ec-range-calendar .ec-edit{border:1px solid #CCC;  *margin-bottom:10px}
.ec-range-calendar .text-label{ margin:10px 5px 10px 5px}
.ec-single-calendar .text-label{ margin:10px 5px 10px 5px}
.ec-range-calendar button{margin:10px 10px 0 0}


/* 星期子网格 */
.ec-calendar-name{height:20px;border-right:1px #dcdcdc solid;}
.ec-calendar-name-over{cursor:pointer;}
.ec-calendar-name-item{border-left:1px #dcdcdc solid;border-top:1px #dcdcdc solid;background:#f1f1f1;padding-top:3px;}

/*  日期子网格  */
.ec-calendar-date{height:120px;border:0px;border-right:1px #dcdcdc solid;border-bottom:1px #dcdcdc solid;}
.ec-calendar-date-item {padding-top:3px; color:#0000ee; border-left:1px #dcdcdc solid;border-top:1px #dcdcdc solid;background:#fff}
.ec-calendar-date-item-over{background:#d7ecff;cursor:hand;cursor:pointer}
.ec-calendar-date-item-focus{background:#0000ee;color:#fff}
.ec-calendar-date-item-disabled {color:#CCC;background:#e7e7e7}
.ec-calendar-date-item-selected {background:#0000ee;color:#fff}




/* 日历输入框 */
.ec-calendar-edit {width:170px;border: 1px solid #666;}
.ec-calendar-edit-single, .ec-calendar-edit-range{margin-bottom:-5px;*margin-bottom:0;border:0 none;width:80px;height:23px;padding:5px 35px 0 2px;background:url("img/calendar-bgs.gif") no-repeat}
.ec-calendar-edit-range {width:170px;background-position:-120px 0}
.ec-calendar-edit-single input, .ec-calendar-edit-range input{background:transparent;margin-top:-4px;}



/* 双日历子输入框 */
.ec-edit {border:1px solid black;width:120px;height:18px}


/*  年月下拉 */
.ec-select {margin-bottom:-5px;}
.ec-text, .ec-select {width:40px;height:17px;border:1px solid #CCC;background:#FFF;}
.ec-select-options {border:1px solid #CCC;border:1px solid #CCC;}
.ec-select-options-layout {background:#FFF}
.ec-select-button {background:url(img/select.jpg) 0px 0px no-repeat}
.ec-select-over .ec-select-button {background:url(img/select.jpg) -17px 0px no-repeat}
.ec-select-press .ec-select-button {background:url(img/select.jpg) -34px 0px no-repeat}
.ec-select-item {height:15px;cursor:default;line-height:15px;line-height:16px;}
.ec-select-text {cursor:default;height:15px;line-height:15px;padding-left:2px;_padding-top:1px;line-height:16px;}
.ec-select-item-over {background:#7D9FFF;color:#FFF;}
.year-select{width:50px;}
.month-select{width:35px;}


/* 前后月导航 */
.prev, .next{cursor:hand;cursor:pointer;width:10px;height:18px;background:url("img/calendar-bgs.gif") no-repeat;margin-bottom:-4px;}
.prev{background-position:-366px 0;margin-right:7px;_margin-right:5px;}
.next{background-position:-376px 0;}
.prev-disabled{background-position:-332px 0;}
.next-disabled{background-position:-342px 0;}



/* 以下为滚动条样式 */
.ec-vscroll {background:#F0F0F0;width:15px;padding:15px 0px 15px 0px;font-size:1px}
.ec-hscroll {background:#F0F0F0;height:15px;padding:0px 15px 0px 15px;font-size:1px}
.ec-hscroll-block {background:url(img/hscroll.jpg) -2px -30px repeat-x}
.ec-vscroll-block {background:url(img/scroll.jpg) 0px 0px repeat-y}
.ec-hscroll-block-over {background:url(img/hscroll.jpg) -0px -45px repeat-x}
.ec-hscroll-block-press {background:url(img/hscroll.jpg) -0px -60px repeat-x}
.ec-vscroll-block-over {background:url(img/scroll.jpg) -15px 0px repeat-y}
.ec-vscroll-block-press {background:url(img/scroll.jpg) -30px 0px repeat-y}
.ec-vscroll-prev {background:url(img/scroll.jpg) -45px -40px no-repeat;}
.ec-vscroll-prev-over {background:url(img/scroll.jpg) -75px -40px no-repeat;}
.ec-vscroll-prev-press {background:url(img/scroll.jpg) -60px -40px no-repeat;}
.ec-vscroll-next {background:url(img/scroll.jpg) -45px -55px no-repeat;}
.ec-vscroll-next-over {background:url(img/scroll.jpg) -75px -55px no-repeat;}
.ec-vscroll-next-press {background:url(img/scroll.jpg) -60px -55px no-repeat;}
.ec-hscroll-prev {background:url(img/scroll.jpg) -45px -85px no-repeat;}
.ec-hscroll-prev-over {background:url(img/scroll.jpg) -75px -85px no-repeat;}
.ec-hscroll-prev-press {background:url(img/scroll.jpg) -60px -85px no-repeat;}
.ec-hscroll-next {background:url(img/scroll.jpg) -45px -70px no-repeat;}
.ec-hscroll-next-over {background:url(img/scroll.jpg) -75px -70px no-repeat;}
.ec-hscroll-next-press {background:url(img/scroll.jpg) -60px -70px no-repeat;}
.vsblockdtr-bottom {background:transparent url(img/scroll.jpg) no-repeat scroll -45px -18px;}
.vsblockdtr {padding:2px 0;}
