#**
 * 该文件主要用于定义前端页面常量、请求action地址等
 * 建议前端定义的常量以f(f-front)开头。如：$fFoobar
 *#
##----------------------前端定义的常量-------------------------------
## 引号
#set($dQuote = '"')
#set($sQuote = "'")

## 精确到秒
#set($timeFormat = 'yyyy-MM-dd HH:mm:ss')

## 精确到天
#set($dateFormat = 'yyyy-MM-dd')

##取后面的时间
#set($sTimeFormat = 'HH:mm:ss')


## 是否列表
#set($switchList = [{"text":"是", "value":"1"}, {"text":"否", "value":"0"}])

## 年份列表
#set($yearList = [
	{"text":"2009", "value":2009},
	{"text":"2010", "value":2010}, 
	{"text":"2011", "value":2011},
	{"text":"2012", "value":2012},
	{"text":"2013", "value":2013},
	{"text":"2014", "value":2014},
	{"text":"2015", "value":2015}
	])


##包括排除列表
#set($switchInclude = [{"text":"包括","value":"0"},{"text":"排除","value":"1"}])


##----------------------页面请求action地址-------------------------------
#set($projectContext = "/va-cbweb")
#set($projectPortal = "/va-portal")
##set($projectContext = "") ##模拟数据 [todo] 提测前删除

##followupQuery.vm中页面变量,form提交的action及分页的URL
#set($followupQuery = "$projectContext/followup/followupQuery.action")
#set($fExcel = "$projectContext/followup/excel.action")
#set($fQueryReasonsAndMethods="$projectContext/followup/queryReasonsAndMethods.action")

##customerQuery.vm中页面变量,form提交的action及分页URL
#set($customerQuery = "$projectContext/worktask/customerQuery.action")
#set($taskTreatQuery = "$projectContext/worktask/taskTreatQuery.action")
#set($todayWarn = "$projectContext/worktask/todayWarn.action")
#set($workTaskQuery = "$projectContext/worktask/workTaskQuery.action")
#set($workMessageQuery = "$projectContext/worktask/workMessageQuery.action")
#set($taskTreatEdit = "$projectContext/worktask/taskTreatEdit.action")

##workTaskTreatEdit.vm中页面变量，form提交的action以分页URL
#set($fWorkTaskTreatCommit = "$projectContext/worktask/workTaskTreatCommit.action")
#set($fWorkTaskTreatEdit  = "$projectContext/worktask/taskTreatEdit.action")

##workTaskTreatQuery.vm中页面变量，form提交的action以分页URL
#set($fWorkTaskTreatQuerys = "$projectContext/worktask/taskTreatQuery.action")


##categoryModify.vm中页面变量,form提交的action
#set($fCategoryModify = "$projectContext/taskcategory/categoryModify.action")
#set($fTemplateQuery = "$projectContext/backtemplate/templateQuery.action")
#set($fCategoryUpdate = "$projectContext/taskcategory/categoryUpdate.action")

##categoryShow.vm中页面变量,form提交的action
#set($fCategoryShow = "$projectContext/taskcategory/categoryShow.action")
#set($fOpuCategorySwitch = "$projectContext/taskcategory/opuCategorySwitch.action")

##everydayReport.vm中页面变量，form提交的action
#set($fEverydayReportAction = "$projectContext/report/everydayReport.action")

##multiReport.vm中页面变量，form提交的action
#set($fMultiReportAction = "$projectContext/report/multiReport.action")

##report中action
#set($fMultiReportByDay= "$projectContext/report/multiReportByDay.action")
#set($fMultiReportByLevel = "$projectContext/report/multiReportByLevel.action")
#set($fMultiReportByType = "$projectContext/report/multiReportByType.action")
#set($fWorkTaskTreatQuery = "$projectContext/worktask/workTaskTreatQuery.action")


##holidays.vm中的action
#set($fHolidayQuery="$projectContext/holiday/holidayQuery.action")
#set($fHolidayModify="$projectContext/holiday/holidayModify.action")

##首页中的action
#set($fShowIndexAction="$projectPortal/portal/showIndexAction.action")
#set($fAccessFromEmbbedAction="$projectPortal/accesscontrol/accessControlForSvcEmbedded.action")

##ui_debug
#set($ui_debug = true)
