#set($reasonList = [])

#foreach($i in [1..15])
    $reasonList.add($reasonList.size(), 
        {"text":"选项 $i", "value":"00$i"})
#end

<form method="post" >
    #multipleSelect("rejectReason" $reasonList {"selectedList": ["007", "001"], "specialList": ["001", "002"]})
    <input type="submit" value="提交">
</form>
