#startTab
    #startTabContent("标签签签")     
        标签1的内容
    #endTabContent
    #startTabContent("标签签签")     
        标签2的内容
    #endTabContent
    #startTabContent("标签签签" {"current":true})     
        标签3的内容
        
    #endTabContent
    #startTabContent("标签签签签")     
        #singleCal
    #endTabContent
#endTab
