.ec-pager {zoom:1;margin:10px 0;color:#346665}
.ec-pager:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.ec-pager-item, .ec-pager-button {float:left;height:20px;line-height:20px;background:url("img/table.gif") repeat-x 0 -150px;border:1px solid #9CD167;color:#326700;margin:0;padding:0 3px;cursor:pointer; margin:0 2px 0 0}
/*.ec-pager-button{float:none;height:22px}*/
.ec-pager-item-over {background-position:0 -176px;}
.ec-pager-item-press {background:#FFFCE2}
.page-num{text-align:center}
.ec-pager-item-disabled{background-image:none;color:#666;background-color:#EEE;font-weight:400;}
.ec-pager-item-cur {background-image:none;background-color:#FFF;color:#000;height:20px;font-weight:700;}
.ec-pager-go {margin:0 5px}
.ec-pager-go input,.ec-pager-go button{vertical-align:bottom;float:none;padding:0;}
.ec-pager-go button{margin-left:10px}
.ec-pager-input {width:25px;}
.ec-pager-button {height:22px}
.ec-pager-summary *{vertical-align:bottom}
.ec-pager em {font-style:normal;color:#000;padding:0 3px;display:inline-block}